<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="data source=tcp:i58l2xtq7j.database.windows.net,1433;initial catalog=clinicSystem;user id=group16@i58l2xtq7j;password=cs2102DB" name="clinicSystem" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <customErrors mode="Off" />
    </system.web>

</configuration>
